streamlit
streamlit-drawable-canvas
streamlit-webrtc
streamlit-camera-input-live
ultralytics
opencv-python-headless
easyocr
pyzbar
qrcode
torch
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cpu
Pillow
